
<section>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form action="/admin/edit-product/{{product._id}}" method="post"  enctype="multipart/form-data">
                <legend>Edit product details</legend>

                <div class="form-group">
                    <label for="first_name"> </label>
                    <input type="text" class="form-control" name="name" id="name" value="{{product.name}}" placeholder=" Item Name">
                </div>

                <div class="form-group">
                    <label for="last_name"></label>
                    <input type="text" class="form-control" name="price" id="first_name" value="{{product.price}}" placeholder="Price">
                </div>

                <div class="form-group">
                    <label for="last_name"></label>
                    <input type="text" class="form-control" name="category" id="Category" value="{{product.category}}" placeholder="Category">
                </div>
                <div class="form-group">
                    <label for="last_name"></label>
                    <input type="text" class="form-control" name="Description" id="first_name" value="{{product.Description}}" placeholder="Description">
                </div>
                <br>
                <div class="form-group">
                        <label for="exampleFormControlFile1">Image</label>
                        <img src="/images/{{product._id}}.jpg" alt="" style="height: 100px; width:auto">
                         <input type="file" name="Image" class="form-control-file" id="exampleFormControlFile1">
                 </div>
  

                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
</section>