<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    


  </head>
<header>
      <section id="header">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg navbar-dark">
           <div class="container">
             <a href="" class="navbar-brand"></a>
             
               <button class="navbar-toggler" type="button"
                data-target="#navbarSupportContent" data-toggle="collapse"
                aria-controls="navbarSupportContent" aria-expanded="false" aria-label="Toggle Navigation"
                 ><span class="navbar-toggler-icon"></span></button>

             <div class="collapse navbar-collapse" id="navbarSupportContent">
               <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                      <a href="/" class="nav-link">SHOPPING CART</a>
                    </li>
                    <li class="nav-item ">
                      <a href="/view-orders" class="nav-link">ORDERS</a>
                    </li>
                    <li class="nav-item ">
                      <a class="nav-link " href="/cart">cart<span class="badge alert-success" id="cart-count">{{CartCount}}</span></a >
                    </li>
                    
                      
                    <li class="nav-item ">
                      <div class="dropdown">
  <button class="nav-link " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   {{#if user}}

     {{user.first_name}}

     {{else}}
     ACCOUNT


   {{/if}}


    
  </button>
  <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
    {{#if user}}

     <a class="dropdown-item" href="/logout">LOGOUT</a>

     {{else}}
    <a class="dropdown-item " href="/login">LOGIN</a>


   {{/if}}
    
    
  </div>

                      
                      
                    </li>
                    

                    
               </ul>
             </div>
           </div>
          </nav>
        </div>
      </section>
    </header>
  
</html>
