<section>
    <div class="container">
        <table class=" table mt-5">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    
                    <th scope="col">Title</th>
                    <th scope="col">price</th>
                    <th scope="col">Quantity</th>

                </tr>
            </thead>

            <tbody>

                {{#each items}}
                <tr>
                    
                    <td><img style="width: 70px;height:70px" src="/images/{{this.products._id}}.jpg" alt=""></td>
                <td>{{this.products.name}}</td>
                <td>{{this.products.price}}</td>

                <td>
                    
                    
                    <button class="cart-item-count mr-3 btn btn-primary"
                     onclick="changequantity('{{this._id}}','{{this.products._id}}','{{../user}}',-1)">-</button>
                     <span id="{{this.products._id}}">{{this.quantity}}</span>
                     <button onclick="changequantity('{{this._id}}','{{this.products._id}}','{{../user}}',1)" 
                     class="  cart-item-count ml-3 btn btn-primary">+</button>
                </td>
                <td>
                    <button class="btn btn-danger">Remove</button>
                </td>

                </tr>

                {{/each}}
                
               
                


            </tbody>

        </table>
        <h3 id="total">Total:{{totalValue}}</h3>
        <a href="/place-order"><button class="btn btn-success">Place order</button></a>

    </div>
</section>


<script>
    function changequantity(cartId,proId,userId,count){
         let quantity = parseInt(document.getElementById(proId).innerHTML)
         count = parseInt(count)
         console.log(userId)

        $.ajax({
            url:"/change-product-quantity",
            data:{
                user:userId,
                cart:cartId,
                product:proId,
                count:count,
                quantity : quantity
            },
            method:"post",
            success : function(response){

                if(response.removeproduct){
                    alert("Item removed from cart")
                    location.reload()
                }else{
                   
                     document.getElementById(proId).innerHTML=quantity+count
                     document.getElementById('total').innerHTML=response.total
                }


            }

            
        })

    }
</script>